* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: #000000;
    transition: background-image 0.5s ease-in-out;
    overflow-y: hidden;
    text-shadow: 2px 2px #000000;
  }
  body:hover
  {
    cursor:default;
  }
  .bigDiv
  {
    min-width: 1000px;
    width: 70%;
  }
  .mediumDiv
  {
    display: flex;

  }
  .timeDiv
  {
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    position: relative;
  }
  .weatherDiv
  {
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
    width: 50%; 
    font-size: 1.5rem;
  }
  .quoteDiv
  {
    float: none;
  }
  #time {
    font-size: 6rem;
  }
  #weekDay {
    font-size: 2rem;
  }
  #focus
  {
    max-width: 100%;
  }
  #focus:hover
  {
    cursor:text;

  }
  #name:hover
  {
    cursor:text;
  }
  #city:hover
  {
    cursor:text;
  }
  h1 {
    margin-bottom: 3rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;
  }
  h3
  {
    visibility: hidden;
  }
  #quote
  {
    font-size: 20px;
  }
  #changeQuote
  {
    height: 22px;
    width: 22px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
  }
  #changeQuote:hover
  {
      cursor: pointer;
  }
  #changeQuote:active
  {
    animation: rotation 0.25s; 
    
  }
  @media (max-width: 700px) {
    .time {
      font-size: 6rem;
    }
  }
  .next_button
  {
    font-size: 22px;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 15px;
    transition: transform 1s linear;
    transform-origin: center;
  }
  
  .next_button:active
  {
    animation: rotation 0.25s; 
  }
  .next_button:hover
  {
      cursor: pointer;
  }
  @keyframes rotation
  {
    from{transform:rotate(359deg);}
    to{transform: rotate(0deg);}
  }